

/*  575 >	*/
@media (max-width: 575px){
	.text-muted{
		margin-top:20px;
	}
	
	.parallax{
		height: 100px;
	}
	.hero img{
		height:300px;
	}
	
	.bg-theme-light{
		margin-top:-50px;
	}
	.parallax{
	
	background-size: cover;
    height: 600px;
    width: 100%;
	background:fixed;
    background-position: 0px -9.88875px;
	background-color: transparent;
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    overflow: hidden;
	}
	
	.text-1 h2{
		font-size:24px;
		margin-top:-50px;
	}
	
	.heading-block h2{
		font-size:26px;
		letter-spacing: 1px;
		line-height:1.5;
	}

	.ls-1 h2{
		font-size:30px;
		color: #444;
    font-weight: 600;
    line-height: 1.5;
    
	}
	
	.heading-block1{
		margin-bottom: 15px;
	}

}



/*  576 < 768	*/
@media (min-width: 576px){
	.text-muted{
		margin-top:20px;
	}
	
	
}

/*  768 < 992	*/
@media (min-width: 768px){
	
}

/*  992 < 1200	*/
@media (min-width: 992px){
	
}

/*  1200 < ....	*/
@media (min-width: 1200px){
	
}






/* Responsive CSS PROJECT-2 */


/* DESKTOPS SIZE (1200 < ...) */
@media (min-width: 1200px){
	
}

/* LEPTOP SIZE (992px) */
@media (min-widh: 992px) and (max-width: 1199px){
	
}

/* MINI LEPTOP SIZE (768px) */
@media (min-width: 768px) and (max-width: 991px){
	
}

/* MOBILE Landscape SIZE (576px) */
@media (min-width: 576px) and (max-width: 767){
		
}

/* MOBILE Portrait SIZE (575) */
@media (min-width: 575) and (max-width: 320px){
	
}

